
.container{
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-gap: 64px;
}
.grid-2-equal-column{
    grid-template-columns: 1fr 1fr;
}

.grid-3-column-first-narrow{
    grid-template-columns: 1fr 2fr 2fr;
}
section{
    max-width:1400px ;
    margin: 0 auto;
}

header{
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(35, 24, 24, 0.75)),
            url('images/Anitta.png');
    background-size: cover;
    background-position: center;
    padding: 260px 0;
    background-repeat: no-repeat;
    

}
header h1 {
    font-size: 128px;
    color: white;
    margin: 0 auto;
    font-family:'Playfair Display', serif;
    line-height: 170.62px;
}

header h2 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 46.88px;
    margin: 0;
    margin-bottom: 70px;
            
}

header h3 {
    font-weight: 900;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    line-height: 28.13px;
    letter-spacing: 5px;
    margin:0;
    
}


header a {
    padding: 16px 32px;
    border: none;
    border-radius: 100px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: 18.75px;
    font-family: 'Roboto', sans-serif;
    

}
main h2{
    background-color: rgba(71,9,20,.2);
    color: rgb(71,9,20);
    letter-spacing: 10px;
    font-size: 13px;
    padding: 2px 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0;
    margin-top: 64px;
}
main h3{
    font-family: 'Playfair Display', sans-serif ;
    font-weight: 700;
    text-align: left;
    font-size: 48px;
    line-height: 1.2;
    margin: 0;
    padding-right: 64px;
}
main p{
    font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        padding-right: 64px;
}
main img{
    width: 100%;
}
footer{
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85)),
    url("images/footer.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 170px;
    text-align: left;
    
}

footer h3{
    font-family: 'Play Fair', serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
}

footer p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    opacity: .7;
    
}

footer a{
    opacity: .7;
    color: white;

}
ul{
    padding-inline-start: 0;
}
footer li{
    list-style-type: none;
}
@media (max-width:960px){
    header{
        padding: 30px 0;
    }
    header h1{
        font-size: 60px;
        line-height: 80px;
    }
    header h2{
        font-size: 20px;
        line-height: 24px;
        margin-bottom:20px;
    }
    header h3{
        font-size: 12px;
        line-height: 12px;
    }
    header a{
        padding:5px 10px;
        font-size: 10px;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .grid-2-equal-column {
            grid-template-columns: 1fr;
        }
    
        .grid-3-column-first-narrow {
            grid-template-columns: 1fr;
        }

    footer{
        padding:50px 75px
    }
}